
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Nueva Inscripcion";
}

<h2>Nueva Declaración de Enajenación e Inscripción de Bienes Raíces</h2>

<div class="container" style="margin-top: 6rem;">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nAtencion">N° Atención</label>
                <input type="text" class="form-control" id="nAtencion" disabled>
            </div>
            <div class="form-group">
                <label for="cneSelect">Código Naturaleza Escritura</label>
                <select class="form-control" id="cneSelect">
                    <option value=0 selected disabled>Eliga un CNE</option>
                    <option value=1>Compraventa</option>
                    <option value=2>Regularización de Patrimonio</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comunaSelect">Comuna</label>
                <select class="form-control" id="comunaSelect">
                    <option value=0 selected disabled>Eliga una Comuna</option>
                    <option value=1>Las Condes</option>
                    <option value=2>La Reina</option>
                    <option value=3>La Florida</option>
                </select>

                <label for="manzanaInput">Manzana</label>
                <input type="number" class="form-control" id="manzanaInput">

                <label for="predioInput">Predio</label>
                <input type="number" class="form-control" id="predioInput">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="input5">Fojas</label>
                <input type="number" class="form-control" id="fojasInput">
            </div>
            <div class="form-group">
                <label for="fechaInput">Fecha Inscripción</label>
                <input type="date" class="form-control" id="fechaInput">
            </div>
            <div class="form-group">
                <label for="nInscripcionInput">Número Inscripción</label>
                <input type="number" class="form-control" id="nInscripcionInput">
            </div>
        </div>

    </div>

    <div class="col-md-10">
        <h4 style=" font-weight: bold; text-align: center; margin-bottom:2rem;">Enajenantes</h4>
        <div class="add-enajenantes">
            <div class="form-inline add-enajenantes">
                <div class="form-group">
                    <input type="text" placeholder="RUT" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Nombre" />
                </div>
                <div class="form-group">
                    <input type="number" placeholder="% Derechos" />
                </div>
                <div class="form-group">
                    <label class="control-label">% Derechos No Acreditados</label>
                    <input type="checkbox" />
                </div>
                <div class="form-group">
                    <button>+ Agregar Enajenante</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table" style="margin-top: 7rem">
        <thead>
            <th>
                RUT
            </th>
            <th>
                Nombre
            </th>
            <th>
                % Derechos
            </th>
            <th>
                Derechos NA
            </th>

        </thead>

    </table>

    <div class="col-md-10" style="margin-top:3rem;">
        <h4 style=" font-weight: bold; text-align: center; margin-bottom:2rem;">Adquirientes</h4>
        <div class="add-adquirentes">
            <div class="form-inline add-adquirentes">
                <div class="form-group">
                    <input type="text" placeholder="RUT" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Nombre" />
                </div>
                <div class="form-group">
                    <input type="number" placeholder="% Derechos" />
                </div>
                <div class="form-group">
                    <label class="control-label">% Derechos No Acreditados</label>
                    <input type="checkbox" />
                </div>
                <div class="form-group">
                    <button>+ Agregar Adquiriente</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table" style="margin-top: 12rem ">
        <thead>    
            <th>
                RUT
            </th>
            <th>
                Nombre
            </th>
            <th>
                % Derechos
            </th>
            <th>
                Derechos NA
            </th>

        </thead>


    </table>

    <div style="margin-top:5rem; display:flex; justify-content: center;">
        <button type="submit" style=" margin-top: 4rem; text-align:center;">Enviar</button>
    </div>




